@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Oriya:wght@400;500;600;700&display=swap");

.header {
  &-menu {
    z-index: 100;
  }
  &-block {
    background: linear-gradient(to bottom, #232526, #414345);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Bebas-Neue";
    font-weight: 700;
    position: relative;
  }
  &-logo {
    height: 80px;
    padding: 10px 0px 10px 0px;
  }
  &-icons {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    
  
  }
  &-icons__market {
    height: 30px;
    cursor: pointer;
  }
  &-icons__language {
    color: white;
    margin-right: 20px;
    font-size: 26px;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100vh;
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0;
    z-index: 80;
    background: rgba(14, 14, 14, 0.92);
    background-size: cover;
    backdrop-filter: blur(5px);
    text-transform: uppercase;

    &__icons {
      transition: all 0.3s ease;
      &:hover{
        filter: drop-shadow(0px 0px 8px white);
      }
    }
  }
  &-nav__sections {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    width: 100%;
  }
  &-nav__links {
    text-decoration: none;
    color: white;
    padding: 20px 0px 20px 0px;
    letter-spacing: 3px;
    width: 100%;
    transition: all 0.4s ease-in-out;

    &:hover {
      font-weight: 600;
      background: rgba(255, 255, 255, 0.815);
      color: rgb(0, 0, 0);
    }
  }
  &__submenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    &__title {
      text-decoration: none;
      padding-top: 10px;
      color: rgba(255, 255, 255, 0.836);
      margin: 0;
      height: 30px;
      letter-spacing: 3px;
      width: 100%;
      transition: all 0.4s ease-in-out;
      
      &:hover{
        font-weight: 600;
        background: rgba(189, 189, 189, 0.815);
        color: rgb(0, 0, 0);
      }
    }
    &__links {
      text-decoration: none;
      margin: 0;
      padding: 0;
      color: white;
      padding: 10px 0px 10px 0px;
      letter-spacing: 3px;
      font-size: 14px;
      width: 100%;
      transition: all 0.4s ease-in-out;

      &:hover {
        font-weight: 600;
        background: rgba(255, 255, 255, 0.815);
        color: rgb(0, 0, 0);
      }
    }
  }
  @media (max-width: 1080px) {
    &-block {
      padding: 0px 14px 0px 10px;
    }
    &-nav {
      width: 100%;

      &__icons {
        padding: 0;
      }
    }
  }
}
